@use '../../assets/scss/colors.scss';

.wrapperReview {
  background-color: colors.$white;
  border-radius:  15px;

  // width: 468px;
  // height: 611px;



  .review {
    box-sizing: border-box;
    margin: 20px 27px 20px 27px;

    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    color: colors.$black;
  }
}