@use '../../assets/scss/colors.scss';

.card {
  background-color: colors.$white;

  padding: 9px 10px 8px 10px;

  display: flex;
  flex-direction: column;
  gap: 3px;
  border-radius: 10px;
  height: 100%;


  .imageWrapper {
    position: relative;
    width: 100%;
    height: auto;
  }

  .body {
    font-family: Inter;
    color: colors.$black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .cardTop {

      .title {
        font-weight: 400;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: 0%;
  
      }
  
      .text {
        font-weight: 400;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0%;
  
      }
    }

    .footer {
      display: flex;
      flex-direction: column;
      gap: 33px;


      .price {
        font-weight: 400;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: 0%;

      }

      .counter {
        display: grid;
        // grid-column: 50px 1fr 50px;
        grid-template-columns: 50px 1fr 50px;
        gap: 6px;

        .amount {
          background-color: colors.$black2;
          padding: 13px;
        
          font-family: Inter;
          font-weight: 400;
          font-size: 36px;
          line-height: 100%;
        
          color: colors.$white2;
          border-radius: 10px;

          text-align: center;
        }
      }
    }
  }
}