@use '../assets/scss/colors.scss';

.pageWrapper {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  min-height: 100vh !important;

  background-color: colors.$black2;

  .page {
    width: 100% !important;
    min-height: 100vh !important;
    // margin: 55px 12.96875% 0 11.9270833%;
    padding: 55px 12.96875% 0 11.9270833%;
    

    box-sizing: border-box;

    .header {
      background-color: colors.$gray-light;
      height: 132px;
      border-radius: 15px;

      font-family: Inter;
      font-weight: 400;
      font-size: 96px;
      line-height: 100%;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .h2 {

      }
    }
    .reviews {
      display: flex;
      flex-direction: row;
      gap: 34px;

      margin-top: 105px;
    }
  
    .cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 42px 35px;
      // margin: 0 479px 0 458px;
      margin: 0 auto;
  
      @media (min-height: 768px) and (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }
    }
  }

}